.offers{
    width: 80%;
    height: 55vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background:linear-gradient(180deg, white 0%,grey 60%) ;
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.offers-left{
    color: blueviolet;
    font-size: 22px;
    font-weight: 600;
}

.offers-left p{
    color: blueviolet;
    font-size: 25px;
    font-weight: 600;

}

.offers-left button{
    width: 282px;
    height :70px;
    border-radius: 35px;
    background-color: blueviolet;
    border: white;
    color: white;;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;

}

.offers-right{
    flex: 1;
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
}